<!-- <button routerLink="/poster-control">Control Articals</button>
<div>
    <input type="text" placeholder="Artical Title" [(ngModel)]="title" id="title">
    <input type="text" placeholder="Artical Description" [(ngModel)]="description" id="description">
    <input type="file" placeholder="Artical Image" id="image">
</div>
<div id="toolbar"></div>
<div id="editor"></div>
<button id="save_delta">SAVE</button>
<div id="quill-dis">
</div> -->
<h2 class="text-center">Post an Article</h2>
<div class="container">
    <div class="posting">
        <div class="form-group">
            <input type="text" name="" [(ngModel)]="title" id="title" placeholder="Title" class="form-control">
        </div>
                <div id="toolbar"></div>
                <div id="editor"></div>
                <div id="quill-dis"></div>
                <div class="form-group">
                        <input type="file" name="" placeholder="Article_image" id="image">
                    </div>
                
        </div><br>
    
<button type="button" class="btn btn-success btn-block" id="save_delta">Save</button><br>
    </div>