<div id="app">
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
      <a class="navbar-brand" href="#">Title</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <div id="navbarNavDropdown" class="navbar-collapse collapse">
          <ul class="navbar-nav mr-auto">
              <li class="nav-item active">
                  <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Features</a>
              </li>
  
          </ul>
          <ul class="navbar-nav">
      
              <li class="nav-item">
                  <a class="nav-link" href="#">Login</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" href="#">Register</a>
              </li>
          </ul>
      </div>
    </div>
  </nav>
</div><br>

<div class="container first">
      <div class="row">
      <div class="col-12 col-sm-9">
          <div
          ng2-carouselamos
          class="slides-wrapper"
          [items]="items"
          [width]="750"
          [$prev]="prev"
          [$next]="next"
          [$item]="item"
        >
        </div>
          <ng-template #prev>
           <span><i class="fa fa-angle-left"></i></span>
          </ng-template>
          <ng-template #next>
            <span><i class="fa fa-angle-right"></i></span>
          </ng-template>
          <ng-template #item let-item let-i="index">
            <div class="image-holder">
              <img src="http://localhost:3000{{item.new_image}}" routerLink="/user-poster/{{item._id}}"alt=""  class="slider-image">
            <div class="img-hover"
            routerLink="/user-poster/{{item._id}}">
              <div class="hover-title">
                <h3 class="text-center">{{item.title}}</h3>
              </div>
              <div class="hover-desc">
                <p class="text-center">{{item.description}}</p>
              </div>
            </div>
          </div>
            </ng-template>
         
      </div>
      <div class="col-12 col-sm-3" id="sidebox">
         
        <div id="info" >
            <hr>
            <h4>Trending Now</h4>
          <article class="o-subtle_divider pb-20 pt-20" *ngFor="let x of side_banner" >
        <div class="o-hit">
          <div class="o-rating_thumb mb-15">
            <div class="h-121">
  <img src="http://localhost:3000{{x.new_image}}" class="max-img">
            </div>
          </div>
        </div>
          
          <h3 class="t-h6 th-title">
              <span class="th-underline">
                  {{x.title.substr(0,20)}}
              </span>
          </h3>
        <div class="t-meta th-meta mt-15">
            <span><i class="fa fa-clock-o"></i></span> 1h ago
        </div>
      
      
      <hr>
    
      </article>
    </div>
  </div>
      </div>
      </div><br>

        
  <div class="container">
      
      <hr>
      <h4>Latest News</h4>
  
  <div class="river river--homepage">
    <div>
      <article class="post-block post-block--image post-block--unread river-enter-active" *ngFor="let x of remaining_items">
        <header class="post-block__header">
          <h2 class="post-block__title">
            <a class="post-block__title__link" href="/2018/03/21/layoffs-at-bike-share-startup-zagster-following-15-million-raise/">
              {{x.title.substr(0,25) | titlecase}}
            </a>
          </h2>
          <div class="post-block__meta">
            <div class="river-byline">
              <time class="river-byline__time" datetime="2018-03-21T16:34:09.000Z">7 minutes ago</time>
              <span class="river-byline__authors">
                <span>
                  <a aria-label="Posts by Megan Rose Dickey" href="/author/mdickey/">Megan Rose Dickey</a>
                </span>
              </span>
            </div>
          </div>
        </header>
        <div class="post-block__content">
          <p>
             the bike-sharefe,f, startup that raised a $15 million round last month, has laid off some employees, TechCrunch has learned. Zagster has since confirmed the layoffs, but has yet to comment on t...
          </p>
        </div>
        <footer class="post-block__footer">
          <figure class="post-block__media">
            <picture>
<img alt=""
 src="http://localhost:3000{{x.new_image}}">
              </picture>
            </figure>
          </footer>
        </article>
    </div>
  </div>
  
  
  