<div class="title">
    {{title}}
</div>
    <img src="http://localhost:3000{{image}}" alt="" class="img-fluid">

<div id="poster">
</div>
<div class="content-block">   
  
      
           
            
<div id="article-header-stub">
    </div>
    
   
   <div id="article-header-wrap">
    
    <div id="article-header">
    
   
    <!--class="d-flex flex-row"-->
    
     <div class="content-block ah-cim ah-cim-img" style="background-image:url(https://www.webdesignerdepot.com/cdn-origin/uploads/2018/03/featured_gwd.jpg);">
     

          
   
       <div class="single-title-im-wrap">
       
       
       <div class="single-title-im-content clearfix">
       
       <div class="single-title-im-inside clearfix">
        
          <div class="hp-cat">
<a data-tooltip="See all posts related to News" class="hp-category" href="https://www.webdesignerdepot.com/category/news/">News</a>        </div>                   
        <h1 class="single-title">
          <span>
            Google Web Designer Reaches 3.0 Beta                  </span>
        </h1>
        
        <div class="stiw-pinfo clearfix">
                             <div class="hp-post-pub-info">
<div class="hp-post-pub-info-content">       
          <a data-tooltip="See all posts by Ezequiel Bruni" class="hp-author-avatar-lnk" href="/author/Ezequiel-Bruni">
    <img src="https://www.gravatar.com/avatar/b80ad5dc88c78f27fd74a33196f55479?s=48" alt="Ezequiel Bruni" class="hpppi-author-avatar">
  </a>
        
<span class="hpppi-author">
              By <a data-tooltip="See all posts by Ezequiel Bruni" href="/author/Ezequiel-Bruni">Ezequiel Bruni</a>
        </span>
<span class="hpppi-separator">&nbsp;|&nbsp;</span>

<span class="hppi-time">
  <span class="icon-clock-1"></span>
  2 days ago        </span>  

        
         

        
</div> 
</div>                </div>
        
        </div>
        
        </div>
       </div>
    </div>
  </div>
   
    

  
  
  

  
</div>

</div>