<div class="wrappe">
  <img src="http://localhost:3000{{image}}" alt="" class="img-fluid" >
  </div><br><br>
<section>
  <div class="container">
    <div class="row">
      <div class="col-12 col-sm-10 col-sm-offset-1">
        <div class="article_title text-center">
          <h1>
            {{title}}
          </h1>
          <div class="text-muted">
            <span><i class="fa fa-clock-o"></i> </span>
            {{postedOn}}
            <div class="btn-group">
              <a href="" class="btn"><i class="fa fa-facebook"></i></a>
              <a href="" class="btn"><i class="fa fa-twitter"></i></a>
              <a href="" class="btn"><i class="fa fa-google-plus"></i></a>

            </div>
            
          </div>
          <hr>
        </div>
        <div class="article_body">
        <div id="poster">
          </div>
        </div>
      </div>
      </div>
    </div>
</section>